.cardContainer {
  box-shadow: 1px 5px 10px #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  min-width: 600px;
  background-color: #ffffff;
}

.imgcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgcontainer img{
    border-radius: 50%;
}

.link {
  text-decoration: none;
  color: #000;
}

.infoContainer {
  height: 100%;
  flex-grow: 1;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoContainer h3{
  margin: 5px 0 5px 0;
  font-size: 20px;
}

.infoContainer p{
  margin: 5px;
}

.infoContainer button{
  margin-top: 10px;
  border: none;
  background-color: rgb(230, 78, 78);
  color: #fff;
  border-radius: 5px;
  height: 20px;
  cursor: pointer;
}

.infoContainer button:hover{
  background-color:  rgb(228, 40, 40);;
}

.chart{
  display: flex;
  justify-content: center;
  align-items: center;
}

.barChart{
  height: 200px;
  width: 200px;
}
